<ion-header>

  <ion-navbar>
    <ion-title>webservices</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Bind the click event to a method -->
  <button ion-button (click)="getCoins($event)">Get the coin list</button>
  <button ion-button (click)="getUsers($event)">Get the user list</button>

<!-- User list
  <ion-list inset>
    <ion-item *ngFor="let user of users">
      <h2>{{user.name}}</h2>
      <p>{{user.email}}</p>
    </ion-item>
  </ion-list>
 -->
  <!-- Coin list
  <ion-list inset>
    {{coins}}
  </ion-list>
 -->
</ion-content>
