<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Charts" tabIcon="pie"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="WebServices" tabIcon="airplane"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
