<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Elionic!</h2>
  <p>
    This is an app that lets you to try some features of both Ionic and Electron.
  </p>
  <p>
    The Ionic app is based on the "tabs" template.
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
</ion-content>
